<div>
<h2>New Friend</h2>

<form>
	<label>First Name: </label>
	<input type="text" ng-model="newFriend.fname">
	<label>Last Name: </label>
	<input type="text" ng-model="newFriend.lname">
	<label>Birthdate: </label>
	<input type="text" ng-model="newFriend.birthdate">
	<input type="submit" ng-click="create()" value=" Make New Friend">

</form>


<div id="right_side">
	<table>
		<tr>
			<th>Name</th>
			<th>Show</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
<!-- List of Users for table -->
		<tr ng-repeat="friend in friends | filter: filterBoxInput">
			<td>{{friend.fname}} {{friend.lname}}</td>
			<td><a root="button" href="#!/show/{{friend._id}}">Show</a></td>
			<td><a root="button" href="#!/edit/{{friend._id}}">Edit</a></td>
			<td><button ng-click="delete(friend._id)">Delete</button></td>
		</tr>
	</table>
</div>
<div id="left_side">
	<!-- Filter text field -->
	<form>
		<input type="text" ng-model="filterBoxInput" placeholder="Filter: Birthday!">
	</form>

</div>

</div>